fastapi==0.111.0
passlib[bcrypt]==1.7.4
psycopg2_binary==2.9.9
pydantic==2.7.1
pydantic_settings==2.2.1
python_jose==3.3.0
SQLAlchemy==1.4.52
sqlalchemy-redshift==0.8.14
redshift_connector==2.1.1
pandas==2.2.2
openpyxl==3.1.4
aiofiles==24.1.0
brotli==1.1.0
loguru==0.7.2